/* MARK: MAIN CLASSES */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("../assets/images/coffee-circle.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu__title{
    width: 300px;
    height: 200px;
    position: relative;
}

.menu__title-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    border: solid 5px var(--nitro-blue-color);
    z-index: 1;
}

.menu__title-bkg{
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    position: absolute;
    background-color: var(--graphite-color);
    transform: translate(20px, 20px);
}

.menu__list{
    width: 100%;
    height: 80px;
    padding: 0;
    line-height: 80px;
    text-align: center;
    background-color: var(--graphite-color);
}

.menu__item{
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.menu__text{
    padding-left: 20px;
    font-size: 21px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: solid;
    border-width: 0 0 0 4px;    
    border-color: var(--nitro-blue-color);
}

.menu-article{
    margin: 40px;
}

.menu-text{
    text-align: center;
    margin: 20px auto;
}

/* MARK: MENU SECTIONS */
.hot-drinks{
    background-color : var(--nitro-pink-color);
    padding: 30px;
}

.cold-drinks{
    background-color: var(--light-gray-color);
    padding: 30px;
}

.pastries{
    background-color: var(--nitro-pink-color);
    padding: 30px;
}


/* MARK: INHERITANCE */
.menu-main p{
    max-width: 500px;
}

